name: Mathic3 Module networkx (ubuntu)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: '**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        python -m pip install Mathics3-Module-Base
        # Go over and comment out stuff when next Mathics core and Mathics-scanner are released
        # python -m pip install -e git+https://github.com/Mathics3/mathics-scanner#egg=Mathics-Scanner[full]
        # Until the next mathics-core release
        git clone https://github.com/Mathics3/mathics-core
        (cd mathics-core && pip3 install -e .[full])
        (cd mathics-core && bash ./admin-tools/make-JSON-tables.sh)

    - name: install Mathics3 Module networkx
      run: |
        python -m pip install -e .[full] --no-build-isolation
        # make develop
    - name: Test Mathics3 Module networkx
      run: |
        make -j3 check
